body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background-color: #f4f4f4;
  padding: 2rem;
}
h1{
  text-align: center;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #001d4c;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  margin-bottom: 3px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="number"] {
  display: block;
  width: 100%;
  padding: 4px;
  font-size: 24px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  display: block;
  width: 102.5%;
  padding: 12px;
  background-color: #0070ac;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #09190b;
}

#total-cost {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}